@use '@angular/material' as mat;

/* ================================
   TEMA MATERIAL 3
================================ */

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* ================================
   ESTILOS GLOBAIS
================================ */

html, body {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
