<mat-toolbar class="toolbar-gradient">
  <div class="toolbar-left">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      matTooltip="Menu"
      aria-label="Menu">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>

    <span class="data-hora">
      {{ dataHoraFormatada }}
    </span>
  </div>

  <div class="toolbar-center">
    <span class="titulo-toolbar">Projeto Piloto</span>
  </div>

  @if (authState.usuario$ | async; as usuario) {
  <div class="toolbar-right" >
    <mat-icon fontIcon="person"></mat-icon>
    <span class="usuario-logado-text">{{ usuario.nome }}</span>
  </div>
}
</mat-toolbar>

<mat-divider></mat-divider>

<mat-menu #menu="matMenu" panelClass="custom-colored-menu">

  <button mat-menu-item *appHasPermission="'USUARIO'" (click)="irUsuarios()">
    <mat-icon fontIcon="group"></mat-icon>
    <span class="item-menu">Usuários</span>
  </button>

  <button mat-menu-item *appHasPermission="'PERFIL'" (click)="irPerfis()">
    <mat-icon fontIcon="assignment_ind"></mat-icon>
    <span class="item-menu">Perfis</span>
  </button>

  <button mat-menu-item *appHasPermission="'PERMISSOES'" (click)="irPermissoes()">
    <mat-icon fontIcon="vpn_key"></mat-icon>
    <span class="item-menu">Permissões</span>
  </button>

  <!-- LOGICA: Só renderiza se tiver 'APLICATIVOS' nas permissões do AuthState -->
  <button mat-menu-item *appHasPermission="'APLICATIVOS'" (click)="irAplicativos()">
    <mat-icon fontIcon="open_in_new"></mat-icon>
    <span class="item-menu">Cadastro Aplicativos</span>
  </button>

  <button mat-menu-item (click)="abrirMicrofrontend()">
    <mat-icon fontIcon="apps"></mat-icon>
    <span class="item-menu">Score de Empresas</span>
  </button>

  <button mat-menu-item (click)="irHome()">
    <mat-icon fontIcon="home"></mat-icon>
    <span class="item-menu">Home</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="sair()">
    <mat-icon fontIcon="logout"></mat-icon>
    <span class="item-menu">Sair</span>
  </button>

</mat-menu>
